[submodule "Rheed-Folo"]
	path = Rheed-Folo
	url = git@github.com:uw-acme/Rheed-Folo.git
[submodule "Rheed-Gaussian"]
	path = Rheed-Gaussian
	url = git@github.com:uw-acme/Rheed-Gaussian.git
[submodule "Rheed-HW"]
	path = Rheed-HW
	url = git@github.com:uw-acme/Rheed-HW.git
